
:root{
  --color-pared: rgb(83, 64, 36);
}
/*
DANZA DE LOS BORDES*/



.border-rosa{
    border: var(--insecta-rose) thick solid;
  }
  
  .border-claro{
    border: rgb(173, 170, 170) thick solid;
  }
  
  .border-oscuro{
    border: rgb(22, 22, 22) thick solid;
  }
  
  
  .danza-bordes-container{
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
   
   
   
  
  }
  .danza-bordes-container>*{
   position: absolute;
   width: 100%;      
   /*height: 123.5%;
*/
height: 100%;
   
  
  
   
  
     
  }
  .estilos-danza{
   width: 220px;
   height: 125px;
  
   
  padding-left: 12px;
  border: 4px solid rgb(119, 92, 72);
  padding-right: 13px;
   border-radius: 15px;
  background-color: rgb(0, 0, 0);
 
   transform: perspective(1000px) rotateX(1deg) rotateY(-3deg) rotateZ(30deg) translateX(-15px);
    top: -30px;
    left: 4px;
    box-shadow: 5px 0 0.7rem 0.1rem rgb(39, 38, 38);
    position: absolute;
  }
  
  
  .danza-total-container{
    width: 240px;
    height: 40px;
  padding-bottom: 10px;
 

  
  background-position-x: 40%;
  filter:blur(0rem) sepia(0);
    box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 100px;
    
   }
  
  

   :root{
    /*INVERNÁCULUS*/
    --first-color: rgb(177, 173, 173);
    --second-color: rgb(153, 98, 98);
    --title-color: rgb(221, 217, 217);
    --h1-color: rgb(97, 97, 97);
    --link-color: aquamarine;
    --album-color: #d890e8;
    --black-play: black;
    --insecta-rose: rgb(213, 105, 137);
    --bg-color: rgb(79, 89, 112);
  }
  
  @font-face {
    font-family: "Invernaculus";
    src: url("../assets/Invernaculus.ttf");
  }
  
  html{
      box-sizing: border-box;
      scroll-behavior: smooth;
      font-weight: 100;
      font-size: 16px;
      font-family: "Invernaculus";
  }
  
  *,*::after, *::before {
           box-sizing: inherit;
  }
  
  body{
    margin: 0%;
    padding: 0%;
  }
  
  .body-home{
      margin: 0;
       padding: 0;  
       
        /*
       
       
       */
     
     /* background-image: url("../assets/foto_grupal1.jpg");
     
       
     background-color: rgb(29, 28, 28);
      background-color: rgb(24, 25, 32); 
     */
   
      background: linear-gradient(90deg, rgb(216, 114, 114) 0%, rgb(63, 6, 6) 40%, rgb(26, 12, 12) 100%);
     
     background: linear-gradient(90deg, rgb(229, 192, 162) 0%, rgb(193, 152, 137) 3%, rgb(158, 127, 127) 100%);
     
     background: linear-gradient(90deg, rgb(186, 203, 238) 0%, rgb(156, 172, 180) 20%, rgb(81, 80, 88) 100%);
       background: linear-gradient(90deg, rgb(49, 49, 48) 0%, rgb(129, 131, 169) 30%, rgb(85, 83, 83) 100%);
       background: linear-gradient(90deg, rgb(13, 13, 31) 0%, rgb(96, 118, 127) 30%, rgb(96, 118, 127) 70%, rgb(13, 13, 31) 100%);
       
   
      }
  
  
     
  img{
      max-width: 100%;
      height: auto;
    }
  
  
  
  
  
  
  
    /* ********** HeroImage ********** */
  
  @keyframes hero-opacity{
    0%{
      opacity: 1;
    }
    50%{
     opacity: 0.35;
    }
    100%{
      opacity: 1;
    }
    
  }
  
  
  
  
    .hero-image {
     /* background-color: var(--bg-color);
      */
  
      background: linear-gradient(90deg, rgb(91, 92, 92) 0%, rgb(38, 38, 41) 35%, rgb(14, 14, 17) 100%);
       
       
      background-image: var(--hero-image);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      /*filter: sepia(1) blur(0.06rem);
      background-color: black;
      animation: hero-opacity 2.5s linear infinite;
    */
    }
    
    .hero-image-opacity {
      width: 100%;
      min-height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    
    }
    
  
    
  
    /*.fixed-image-container{
      background-image: url("../assets/pozzo-carbi-grande.png");
      position: sticky;
      background-color: rgb(18, 21, 27);
      background-size: cover;
      
      background-repeat: no-repeat;
      width: 100%;
      height: 180vw;
  
      top: -150px;
      z-index: -1;
    }*/
      
  


/*---------------ANIMACIÓN "PRENDE Y APAGA-------"*/

  /*animaciones
  @keyframes cielo{
    100%{
      background-color: rgb(182, 245, 245);
    }
    80%{
      background-color: rgb(73, 156, 156);
    }
    70%{
      background-color: rgb(42, 89, 89);
    }
  
    55%{
      background-color: rgb(13, 29, 46);
    }
    50%{
      background-color: rgb(4, 4, 36);
    }
    45%{
      background-color: rgb(13, 13, 14);
    }
    40%{
      background-color: rgb(0, 0, 0);
    }
    30%{
      background-color: rgb(0, 0, 0);
    }
    0%{
      background-color: rgb(0, 0, 0);
    }
    
  }
  
  .ext{
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 40vw;
    height: 40vw;
    top: 20vw;
    
    background-color: rgb(33, 33, 33);
    overflow-x: hidden;
    overflow-y: hidden;
    animation: cielo 240s linear infinite;
  }
  
  @keyframes nubes{
    0%{
      transform: translateX(75vw);
       }
       50%{
        transform: translateX(-25vw);
         }
         100%{
          transform: translateX(-75vw);
           }
          }
  .div-2{
    width: 20%;
    height: 20%;
    background-color: rgb(148, 148, 153, 0.7);
    position: relative;
    top: 20%;
    left: 20%;
    border-radius: 50%;
    filter: blur(0.8rem);
    box-shadow: 2rem 0rem 1rem 1rem rgb(118, 114, 114, 0.7), -1rem -1rem 1rem 1rem rgb(168, 171, 168);
    
    
    animation: nubes 240s linear infinite;
    z-index: 1;
  }
  .div-2::before{
     content: "";
     width: 20%;
    height: 20%;
    background-color: rgb(148, 148, 153, 0.6);
    position: absolute;
    top: -15%;
    left: 10%;
    border-radius: 50%;
    filter: blur(0.1rem);
    box-shadow: 2rem 0rem 0.1rem rgb(133, 131, 131, 0.6), -1rem -1rem 1rem 1rem rgb(168, 171, 168, 0.5);
    
    
    z-index: 1;
  
  }
  .div-2::after{
    content: "";
     width: 20%;
    height: 20%;
    background-color: rgb(148, 148, 153, 0.5);
    position: absolute;
    top: -15%;
    left: 10%;
    border-radius: 50%;
    filter: blur(0.1rem);
    box-shadow: 2rem 0rem  rgb(104, 103, 103, 0.6), -1rem -1rem 1rem 1rem rgb(168, 171, 168);
    
    
    z-index: 1;
  
  }
  .div-3{
  
    width: 40%;
    height: 10%;
    background-color: rgb(212, 209, 209, 0.6);
    position: absolute;
    top: 10%;
    left: 20%;
    border-radius: 50%;
    filter: blur(0.2rem);
    box-shadow: 2rem 0rem 0.1rem rgb(249, 184, 184, 0.5), -1rem -1rem 1rem 1rem rgba(180, 179, 186, 0.5);
    
    animation: nubes 240s linear infinite;
    z-index: 2;
  }
  .div-3::before{
    content: "";
     width: 20%;
    height: 20%;
    background-color: rgb(148, 148, 153, 0.6);
    position: absolute;
    top: 5%;
    left: 10%;
    
    border-radius: 50%;
    box-shadow: 2rem 0rem  rgb(133, 191, 144, 0.7), -1rem -1rem 1rem 1rem rgb(168, 171, 168);
  
    
    z-index: 1;
  
  }
  .div-3::after{
    content: "";
    width: 20%;
   height: 20%;
   background-color: rgb(148, 148, 153, 0.7);
   position: absolute;
   top: -15%;
   left: 10%;
   border-radius: 50%;
   filter: blur(0.1rem);
   box-shadow: 2rem 0rem  rgb(104, 103, 103, 0.7), -1rem -1rem 1rem 1rem rgb(168, 171, 168);
   
   
   z-index: 1;
  
  }
  .nube-4{
    
      width: 10%;
      height: 10%;
      background-color: rgb(224, 224, 224, 0.5);
      position: relative;
      top: -50%;
      left: -60%;
      border-radius: 50%;
      filter: blur(0.5rem);
      box-shadow: 2rem 0rem 1rem 1rem rgb(241, 219, 219, 0.6), -1rem -1rem 1rem 1rem rgb(218, 231, 218);
      
   
      z-index: 1;
    }



  @keyframes sol{
    100%{
      transform: translatey(-28vw) translateX(-18vw);
      box-shadow: 0 0 1rem 1rem rgb(243, 241, 241);
    }
    75%{
      transform: translatey(-13vw) translateX(-8vw);
      box-shadow: 0 0 2rem 3rem rgb(249, 130, 46);
    }
    55%{
      transform: translatey(3vw) translateX(0vw);
      box-shadow: 0 0 1rem 1rem rgb(148, 15, 2);
    }
    50%{
      transform: translatey(7vw) translateX(6vw);
      box-shadow: 0 0 1rem 1rem rgb(38, 15, 15);
    }
    45%{
      transform: translatey(11vw) translateX(8vw);
      box-shadow: 0 0 1rem 1rem rgb(29, 9, 0);
      opacity: 1;
    }
    40%{
      transform: translatey(15vw) translateX(10vw);
      opacity: 1;
      box-shadow: 0 0 0 0 rgb(0, 0, 0,0);
         
    }
    35%{
      transform: translatey(20vw) translateX(12vw);
      opacity: 0;
      box-shadow: 0 0 0 0 rgb(0, 0, 0,0);
         
    }
    30%{
      transform: translatey(25vw) translateX(14vw);
      opacity: 0;
      box-shadow: 0 0 0 0 rgb(0, 0, 0,0);
         
    }
    27.5%{
      transform: translatey(30vw) translateX(15vw);
      opacity: 0;
      box-shadow: 0 0 0 0 rgb(0, 0, 0,0);
         
    }
   
    25%{
      transform: translateY(-45vw) translateX(-20vw);
      opacity: 0;
    }
    20%{
      transform: translateY(-40vw) translateX(-16vw);
      opacity: 1;
    }
    15%{
      transform: translateY(-35vw) translateX(-12vw);
      opacity: 1;
    }
    
     10%{
      transform: translateY(-30vw) translateX(-8vw);
      opacity: 1;
    }
  
    5%{
      transform: translateY(-26vw) translateX(-4vw);
      opacity: 1;
    }
  
    
    0%{
      transform: translateY(-20vw) translateX(0vw);
      opacity: 1;
    }
  }
  
  .sol{
    width: 5vw;
    height: 5vw;
    top: 65%;
    left: 50%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(230, 207, 146, 0.954) 10%, rgba(248, 214, 170, 0.8) 100%);
    position: relative;
    
    z-index: 0;
    animation: sol 240s linear infinite;
  }
  
  @keyframes piso{
    100%{
      background-color: rgb(54, 194, 75);
    }
     75%{
       background-color: rgb(23, 107, 34);
     }
     50%{
      background-color: rgb(0, 8, 3);
    }
     25%{
       background-color: rgb(0, 7, 0);
     }
     0%{
       background-color: rgb(0, 10, 0);
      
       }
       
    }
   .piso{
     width: 100%;
     height: 50%;
     top: 45%;
     z-index: 18;
     position: relative;
     filter: blur(0.05rem);
     background-color: rgb(13, 58, 20);
     animation: piso 240s linear infinite;
   }
   .piso::before{
     content: "";
     position: absolute;
     width: 4vw;
     height: 0.5vw;
     top: 60%;
     left: 20%;
     border-radius: 2rem;
     
     box-shadow: 1rem 1rem 1rem 0.1rem rgb(1, 26, 1);
     filter: blur(0.1rem);
     background-color: rgb(14, 5, 1);
   animation: nubes 5s linear infinite;
    }
   .piso::after{
    content: "";
    position: absolute;
    top: 40%;
    left: 80%;
    width: 3vw;
    height: 0.2vw;
    border-radius: 2rem;
  
    box-shadow: 1rem 1rem 1rem 0.1rem rgb(6, 14, 6);
    filter: blur(0.1rem);
    background-color: rgb(24, 23, 23);
    animation: nubes 5s linear infinite;
  }
   .blur{
     filter: blur(0.05rem);
   }
  
   /*room*/
  /*
   .room{
     z-index: 30;
     position: relative;
    width: 80vw;
    height: 60vw;
    top: -30vw;
    margin-left: auto;
    margin-right: auto;
   padding-right: 30%;
    overflow: hidden;
   }
   .pared-1{
     position: absolute;
    width: 80vw;
    height: 10vw;
    
    margin-left: auto;
    margin-right: auto;
   
   }
   .pared-2{
    position: absolute;
   width: 20vw;
   height: 40vw;
   top: 10vw;
   
   margin-left: auto;
   margin-right: auto;
  
  }
  .pared-3{
    position: absolute;
   width: 20vw;
   height: 40vw;
   top: 10vw;
   left: 60vw;
   margin-left: auto;
   margin-right: auto;
  
  }
  .pared-4{
    position: absolute;
   width: 80vw;
   height: 10vw;
   top: 50vw;
   margin-left: auto;
   margin-right: auto;

  
  
  
   
  }
  .window-frame{
    position: relative;
    top: 8.1vw;
    left: 19vw;
    width: 42vw;
    height: 42vw;
    border: 3vw solid black;
    border-radius: 1.5vw;
  }
  .window-frame::after{
    content: "";
    width: 36.9vw;
    height: 2.5vw;
    background-color: rgb(34, 39, 37);
    position: absolute;
    left: -1.2%;
  
  }
  .window-frame::before{
    content: "";
    width: 36.9vw;
    height: 2.5vw;
    background-color: rgb(34, 39, 37);
    position: absolute;
    top: 2.7vw;
    left: -1%;
  }
  .window-left{
    
    position: relative;
    width: 20vw;
    height: 41vw;
    border: 3vw solid black;
    background-color: rgb(183, 194, 202, 0.15);
    z-index: 42;
    top:-81.4vw;
    left: 24.3vw;
    transform: perspective(1000px) rotateY(-65deg);
    box-shadow: 1.5vw 0 0 0 rgb(19, 11, 0);
  }
  .window-right{
    
    position: relative;
    width: 20vw;
    height: 41vw;
    border: 3vw solid black;
    background-color: rgba(75, 77, 78, 0.05);
    z-index: 43;
    
    top: -122.5vw;
    left: 63vw;
    transform: perspective(1000px) rotateY(-65deg);
    box-shadow: 1.5vw 0 0 0 rgb(15, 9, 0),5vw 3vw 1rem 0.1rem rgb(3, 2, 0, 0.5);
  }
  .audio-pya audio{
    display: inline-block;
    width: 40.5vw;
    height: 5vw;
    opacity: 0.3;
    position: relative;
    top: -122vw;
    left: 29.2%;
    
    
    z-index: 41;
  }
  .tapa-rollo{
    position: absolute;
    top: 1.3vw;
    left: 15vw;
    width: 50vw;
    height: 6vw;
    background-color: rgb(35, 23, 16);
    z-index: 45;
  }
  .tapa-rollo::before{
    content: "";
    position: absolute;
    width: 1.2vw;
    height: 40vw;
    top: 6vw;
    left: 1.4vw;
    background-color: rgb(57, 55, 55);
    
    z-index: 50;
  }
  
  .tapa-rollo::after{
    content: "";
    position: absolute;
    width: 2vw;
    height: 3.5vw;
    top: 44vw;
    left: 1vw;
    background-color: rgb(21, 20, 20);
    border-radius: 0 0 1vw 1vw;
    z-index: 49;
  }*/
 


  /*animaciones*/
  @keyframes cielo{
    100%{
      background-color: rgb(182, 245, 245);
    }
    80%{
      background-color: rgb(73, 156, 156);
    }
    70%{
      background-color: rgb(42, 89, 89);
    }
  
    55%{
      background-color: rgb(13, 29, 46);
    }
    50%{
      background-color: rgb(4, 4, 36);
    }
    45%{
      background-color: rgb(13, 13, 14);
    }
    40%{
      background-color: rgb(0, 0, 0);
    }
    30%{
      background-color: rgb(0, 0, 0);
    }
    0%{
      background-color: rgb(0, 0, 0);
    }
    
  }
  

.prende-y-apaga-total{
  width: 258px;
  height: 258px;

margin-left: auto;
margin-right: auto;

margin-bottom: 1000px;

}


  .ext{
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
   
    width: 138px;
    height: 138px;
    top: 73px;
    
    background-color: rgb(33, 33, 33);
    
   overflow-x: hidden;
    overflow-y: hidden;
    animation: cielo 240s linear forwards;
  }
  
  @keyframes nubes{
    0%{
      transform: translateX(93.75%);
       }
       50%{
        transform: translateX(-150%);
         }
         100%{
          transform: translateX(-350%);
           }
          }
  .div-2{
    width: 20%;
    height: 20%;
    background-color: rgba(91, 95, 93, 0.7);
    position: relative;
    top: 0%;
    left: 180%;
    border-radius: 50%;
    filter: blur(0.8rem);
    box-shadow: 2rem 0rem 1rem 1rem rgb(118, 114, 114, 0.7), -1rem -1rem 1rem 1rem rgb(168, 171, 168);
    
    
    animation: nubes 24s linear forwards;
    z-index: 1;
  }
  .div-2::before{
     content: "";
     width: 20%;
    height: 20%;
    background-color: rgba(148, 153, 148, 0.6);
    position: absolute;
    top: -15%;
    left: 100%;
    border-radius: 50%;
    filter: blur(0.1rem);
    box-shadow: 2rem 0rem 0.1rem rgb(133, 131, 131, 0.6), -1rem -1rem 1rem 1rem rgb(168, 171, 168, 0.5);
    
    
    z-index: 1;
  
  }
  .div-2::after{
    content: "";
     width: 20%;
    height: 20%;
    background-color: rgba(153, 148, 149, 0.5);
    position: absolute;
    top: -15%;
    left: 80%;
    border-radius: 50%;
    filter: blur(0.1rem);
    box-shadow: 2rem 0rem  rgb(104, 103, 103, 0.6), -1rem -1rem 1rem 1rem rgb(168, 171, 168);
    
    
    z-index: 1;
  
  }
  .div-3{
  
    width: 40%;
    height: 10%;
    background-color: rgba(209, 212, 209, 0.6);
    position: absolute;
    top: 10%;
    left: 70%;
    border-radius: 50%;
    filter: blur(0.2rem);
    box-shadow: 2rem 0rem 0.1rem rgba(203, 175, 175, 0.5), -1rem -1rem 1rem 1rem rgba(180, 179, 186, 0.5);
    
    animation: nubes 240s linear forwards;
    z-index: 2;
  }
  .div-3::before{
    content: "";
     width: 20%;
    height: 20%;
    background-color: rgba(148, 153, 149, 0.6);
    position: absolute;
    top: 5%;
    left: 70%;
    
    border-radius: 50%;
    box-shadow: 2rem 0rem  rgb(133, 191, 144, 0.7), -1rem -1rem 1rem 1rem rgb(168, 171, 168);
  
    
    z-index: 1;
  
  }
  .div-3::after{
    content: "";
    width: 20%;
   height: 20%;
   background-color: rgb(148, 148, 153, 0.7);
   position: absolute;
   top: -15%;
   left: 60%;
   border-radius: 50%;
   filter: blur(0.1rem);
   box-shadow: 2rem 0rem  rgba(103, 104, 104, 0.7), -1rem -1rem 1rem 1rem rgb(168, 171, 168);
   
   
   z-index: 1;
  
  }
  /*
  .nube-4{
    
      width: 10%;
      height: 10%;
      background-color: rgb(224, 224, 224, 0.5);
      position: relative;
      top: -50%;
      left: 160%;
      border-radius: 50%;
      filter: blur(0.5rem);
      box-shadow: 2rem 0rem 1rem 1rem rgb(241, 219, 219, 0.6), -1rem -1rem 1rem 1rem rgb(218, 231, 218);
   
   
      z-index: 1;
    }*/



  @keyframes sol{
    100%{
      transform: translatey(-90px) translateX(-34px);
      box-shadow: 0 0 1rem 1rem rgb(243, 241, 241);
    }
    75%{
      transform: translatey(20px) translateX(-14px);
      box-shadow: 0 0 2rem 3rem rgb(249, 130, 46);
    }
    55%{
      transform: translatey(90px) translateX(2px);
      box-shadow: 0 0 1rem 1rem rgb(148, 15, 2);
    }
    50%{
      transform: translatey(120px) translateX(6px);
      box-shadow: 0 0 1rem 1rem rgb(38, 15, 15);
    }
    45%{
      transform: translatey(130px) translateX(10px);
      box-shadow: 0 0 1rem 1rem rgb(29, 9, 0);
      opacity: 1;
    }
    40%{
      transform: translatey(150px) translateX(14px);
      opacity: 1;
      box-shadow: 0 0 0 0 rgb(0, 0, 0,0);
         
    }
    35%{
      transform: translatey(150px) translateX(18px);
      opacity: 0;
      box-shadow: 0 0 0 0 rgb(0, 0, 0,0);
         
    }
    30%{
      transform: translatey(150px) translateX(18px);
      opacity: 0;
      box-shadow: 0 0 0 0 rgb(0, 0, 0,0);
         
    }
    27.5%{
      transform: translatey(140px) translateX(-4px);
      opacity: 0;
      box-shadow: 0 0 0 0 rgb(0, 0, 0,0);
         
    }
   
    25%{
      transform: translateY(-85px) translateX(-2px);
      opacity: 0;
    }
    20%{
      transform: translateY(-70px) translateX(2px);
      opacity: 1;
    }
    15%{
      transform: translateY(-55px) translateX(6px);
      opacity: 1;
    }
    
     10%{
      transform: translateY(-40px) translateX(10px);
      opacity: 1;
    }
  
    5%{
      transform: translateY(-25px) translateX(14px);
      opacity: 1;
    }
  
    
    0%{
      transform: translateY(-10px) translateX(18px);
      opacity: 1;
    }
  }
  
  .sol{
    width: 15px;
    height: 15px;
    top: 20px;
    left: 60px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(230, 207, 146, 0.954) 10%, rgba(248, 214, 170, 0.8) 100%);
    position: relative;
    
    z-index: 0;
    animation: sol 240s linear forwards;
  }
  
  @keyframes piso{
    100%{
      background-color: rgb(54, 194, 75);
    }
     75%{
       background-color: rgb(23, 107, 34);
     }
     50%{
      background-color: rgb(0, 8, 3);
    }
     25%{
       background-color: rgb(0, 7, 0);
     }
     0%{
       background-color: rgb(0, 10, 0);
      
       }
       
    }
   .piso{
     width: 100%;
     height: 50%;
     top: 45%;
     z-index: 18;
     position: relative;
     filter: blur(0.05rem);
     background-color: rgb(13, 58, 20);
     animation: piso 240s linear forwards;
   }
   .piso::before{
     content: "";
     position: absolute;
     width: 5%;
     height: 0.625%;
     top: 75%;
     left: 25%;
     border-radius: 2rem;
     
     box-shadow: 1rem 1rem 1rem 0.1rem rgb(1, 26, 1);
     filter: blur(0.1rem);
     background-color: rgb(14, 5, 1);
   animation: nubes 5s linear forwards;
    }
   .piso::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 3.75%;
    height: 0.25%;
    border-radius: 2rem;
  
    box-shadow: 1rem 1rem 1rem 0.1rem rgb(6, 14, 6);
    filter: blur(0.1rem);
    background-color: rgb(24, 23, 23);
    animation: nubes 5s linear forwards;
  }
   .blur{
     filter: blur(0.05rem);
   }
  



   /*---------------room------------------*/
  
   .room{
     z-index: 30;
     position: relative;
    width: 258px;
    height: 193.5px;
    top: -37.5%;
    margin-left: auto;
    margin-right: auto;
   padding-right: 30%;
    overflow: hidden;

  
   }
   .pared-1{
     position: absolute;
    width: 100%;
    height: 12.5%;
    
    
   
   
   }
   .pared-2{
    position: absolute;
   width: 25%;
   height: 75%;
   top: 12.5%;
   
  
  }
  .pared-3{
    position: absolute;
   width: 25%;
   height: 75%;
   top: 12.5%;
   left: 75%;
   
  
  }
  .pared-4{
    position: absolute;
   width: 100%;
   height: 12.5%;
   top: 87.5%;
   
  
  
  
   
  }
  .window-frame{
    position: relative;
    top: 22px;
    z-index: 50;
    left: 57px;
    
    width: 145px;
    height: 158px;
    border: 10px solid rgb(35, 23, 16);
    border-radius: 1.875%;
    
  }
  
  .window-frame::after{
    content: "";
    width: 72.5px;
    height: 137px;
    background-color: rgb(224, 217, 203, 0.1);
    position: absolute;
    top: 1px;
    left: -75px;
    transform-origin: 100% 0%;
    transform: perspective(1000px) rotateY(110deg);
    filter: blur(0.1rem);
  
  }
  /*
  .window-frame::before{
    content: "";
    width: 72.5px;
    height: 140px;
    background-color: rgb(233, 134, 78);
    position: absolute;
    top: 0px;
    left: 70px;
  }*/
  .window-left{
    
    position: relative;
    width: 72.5px;
    height: 137px;
    border: 10px solid rgb(35, 23, 16);
    background-color: rgb(183, 194, 202, 0.1);
    z-index: 42;
    top: -258px;
    left: -8px;
    transform-origin: 100% 0%;
    transform: perspective(1000px) rotateY(110deg);
    
    box-shadow: 1.875% 0 0 0 rgb(19, 11, 0);
  }
  .window-right{
    
    position: relative;
    width: 72.5px;
    height: 137px;
    border: 10px solid rgb(35, 23, 16);
   
    z-index: 43;
    
    top: -395px;
    left: 193px;
    transform-origin: 0% 100%;
    transform: perspective(1000px) rotateY(-55deg);
    box-shadow: 1.875% 0 0 0 rgb(15, 9, 0), 6.25% 3.75% 1rem 0.1rem rgb(3, 2, 0, 0.5);
  }
  .audio-pya audio{
    display: block;
    width: 180px;
    height: 16px;
    opacity: 0.3;
    
    margin-top: -350px;
    margin-left: auto;
    margin-right: auto;
    
    
  
  }
  .tapa-rollo{
    position: absolute;
    top: 3px;
    left: 44px;
    width: 170px;
    height: 16px;
    background-color: rgb(35, 23, 16);
    z-index: 45;
  }
  .tapa-rollo::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 165px;
    top: 16px;
    left: 4.5px;
    background-color: rgb(106, 98, 98);
    
    z-index: 50;
  }
  
  .tapa-rollo::after{
    content: "";
    position: absolute;
    width: 7px;
    height: 20px;
    top: 168px;
    left: 3px;

    background-color: rgb(46, 46, 46);
    border-radius: 0 0 5px 5px;
    z-index: 49;
  }

/*--------------------------------------------------------------*/
  
  /*DISCOGRAFÍA*/
  
  
  .text-shadow{
    text-shadow: 4px 0 8px black;
  }
  
  
  .discography-container{
    
  position: relative;
  z-index: 0;
  
         width: 270px;
         height: auto;
   /*      background-color: rgba(236, 221, 239, 0.1);
  background-image: url("../assets/hormiga1-video.jpg");
   box-shadow: 5px 0 1rem 0.2rem rgb(36, 36, 36); 
   border-radius: 30px;
  background-size: 1%;
  */
  
     
  
      
       margin-left: auto;
       margin-right: auto;
      margin-top: 120px;
      transition: 4s;
  
     /* background: linear-gradient(90deg, rgb(142, 146, 155) 0%, rgb(109, 116, 129) 20%, rgb(130, 127, 127) 100%);
    */
   
  }
  
  
  
  
  
  /*------------generales para àlbumes --------*/
  
  
  .album-name{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 23px;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    color: var(--first-color);
  }
  
  .albums{
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  position: relative;
  z-index: 10;
   
  }
  
  
  
  
  .album-container{
      
      
      margin: 0px auto 0 auto;
  
      padding: 0px;
      width: 243px;
      height: 243px;/*según el caso*/
      display: flex;
      flex-direction: column;
      justify-content: space-around;/* reparte espacio sobrante considerando orillas
    */
      align-items: center;
      transform: perspective(1000px) scale(0.9);
      font-size: 14px;
      
      
    }
  
  .album-individual{
  
    height: 400px;
    padding-top: 20px;
    margin-bottom: 150px;
  
  }
    
  .album-activado{
   margin-bottom: 280px;
   transition: 4s;
  }
  
  .dias-lime-activado{
    transition: 4s;
    margin-bottom: 450px;
  }
  
  .discography-grande{
    transition: 4s;
    height: 1450px;
  }
  
  /*
  .disco-devuelto{
    transition: 3s;
    transform: perspective(1000px) translateY(20px) rotateX(-20deg);
  }
  */
  
  
  .second-color{
    color: var(--second-color);
  }
  
  
  /*---------biografía---------*/
  
  .bio{
    margin-top: 80px;
    
  }
  
  
  
  
  
  
  
  
  
  /*--------------------------------*/
  
  .ul{
      width: 280px;
      height: 280px;
      border-radius: 4px;
      position: relative;
      top: -40px;
      z-index: 1;
     
    }
  
  .padding-top-20px{
      padding-top: 20px;
  }
  
  
  .padding-top-30px{
    padding-top: 30px;
  }
  
  
   .ul li{
       list-style: none;
        margin: 2px 0;
        height: 20px;
        position: relative;
        left: -20px;
    }
  
     .ul a{
         text-decoration: none;
         display: flex;
         flex-direction: row;
         font-size: 17px;
         text-align: center;
         
        transition: color 0.2s ease-in;
     }     
  
     
     .btn-play{
          
      width: 15px;
      height: 15px;
      
      background-color: var(--first-color);
      clip-path: polygon(50% 0%, 50% 100%, 100% 50%);
      transition: transform 0.2s linear;
  }
  
  .btn-play-border{
      border: 2px solid rgb(70, 69, 69);
      background-color: var(--black-play);
      width: 25px;
      height: 25px;
      border-radius: 50%;
      padding-top: 3px;
      padding-right: 6px;
     
      
  }
  .btn-play:hover{
      transform: scale(1.2);
      background-color: rgb(169, 100, 136);
      
      
  }
  
  
  
  
  /*para abrir todas las tapas*/
  
  
  @keyframes abrir-tapa{
    0%{
      transform-origin: 0 0;
       transform: perspective(2000px) rotateY(0deg);
    }
    100%{
     transform-origin: 0% 0%;
     transform: perspective(2000px) rotateY(-88deg);
  }
       }
  
  
  
  
  
  
  .abrir-tapa{
    position: absolute;
    z-index: 80;
    animation: abrir-tapa 3s ease-in-out both;
    animation-play-state: paused;
  }
  
  
  
  
  
  
  
  /*---------------IINSECTA---------------*/

  
  .album-insecta{
      
      background-image: url("../assets/hambre.jpg");
       
      background-repeat: no-repeat;
  
      background-color: black;
      background-size: 102.5%;
      background-position: 53% 50%;
      width: 280px;
      height: 280px;
      position: absolute;
      
     z-index: 10;
     
         
  }
  
  
  
  
  
  .bg-insecta{
    position: absolute;
      background-color: var(--insecta-rose);
      background-color: black;
      background-image: url("../assets/hambre.jpg");
      background-size: 700%;
      background-position: 0px -270px;
      background-repeat: no-repeat;
      top: -18px;
   
  }
  
  
  
  .track-name-insecta{    
    width: 240px;
    font-size: 16px;
    transition: transform 0.2s ease-in;
   
   font-weight: 100;
  color: rgb(188, 184, 184);
  
  }
  
  
  .track-name-insecta:hover{
    
     color: rgb(166, 165, 165);;
  }
  
  
  
  
  .rotate-disc{
   position: absolute;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
   
    
  }
  
  
  
  
  /*-----------------TACH FELINO-----------------*/
    
  
  
  .bg-tach-felino{
  
   
   
  
  
    position: absolute;
     
      background-image: url("../assets/tapa_dias_de_fuerza.jpg");
background-size: cover;
      top: -18px;

  
  }
  
  .bg-tach-felino ul{
    padding-top: 75px;
  }
  
  .bg-tach-felino li{
   
    height: 15px;
    color: rgb(145, 27, 27);
    font-weight: 300;
  }



  .tapa-tach-felino{
      
    background-image: url("../assets/tapa_dias_de_fuerza.jpg");
     
    background-repeat: no-repeat;
  
    background-color: black;
    background-size: 102.5%;
    background-position: 53% 50%;
    width: 280px;
    height: 280px;
    position: absolute;
    
   z-index: 10;
   
       
  }
  
  
  .track-name-tach-felino{    
    width: 150px;
    font-size: 10px;
    transition: transform 0.2s ease-in;
   
  
    
    color: rgb(145, 27, 27);
    font-weight: 300;
  margin-left: 45px;
  }
    
  
  
  .track-name-tach-felino:hover{
    
    color: rgb(110, 108, 108);
  }
  
  
  
  
  
  
  
  .bg-white{
    background-color: white;
    
  }
  
  
  
  
  /*------------DÍAS LIME------------*/
  
  .bg-dias-lime{
  
   
   
  
  
    position: absolute;
      background-color: black;
     
      top: -18px;
   
  
  }
  
  
  
  .tapa-dias-lime{
      
    background-image: url("../assets/tapa_la_ultima_rotacion_del_sol.jpg");
     
    background-repeat: no-repeat;
  
    background-color: rgb(120, 31, 31);
    background-size: 102.5%;
    background-position: 53% 50%;
    width: 280px;
    height: 280px;
    position: absolute;
    
   z-index: 10;
   
       
  }
  
  
  .bg-dias-lime{
    
    background-image: url(../assets/img_dias_lime.jpg);
  background-position: 47.5% 83%;
  background-size: 420%;
  filter: sepia(1);
  }
  
  
  .track-name-dias-lime{   
    font-weight: 100; 
      width: 240px;
      font-size: 18px;
      transition: transform 0.2s ease-in;
     
      color: rgb(92, 162, 110);
   color: rgb(255, 255, 255);
  
  }
  
  
  
  .track-name-dias-lime:hover{
    
    color: rgb(166, 165, 165);
  }
  
  
  
  
  
  /*---------TOCADISCOS------------
  
  .tocadiscos{
    position: relative;
    top: 48px;
    left: 4px;
    margin-top: 100px;
  margin-bottom: 200px;
  
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
    background-image: url("../assets/tocadiscos-dibujo.png");
    background-size: 108%;
    background-position: -16px -94px;
    background-repeat: no-repeat;
    z-index: 4;
  
  transition: 4s;
  
  }
  
  .tocadiscos-activo{
    transition: 4s;
    margin-bottom: 400px;
  }
  
  
  
  /*--------PÚA (INDEX)-----------
  
  .pua-container{
    width: 75px;
  height: 140px;
  
  margin-left: 66%;
  
  transform-origin: 100% 0;
  
  position: relative;
  z-index: 25;
  }
  
  .pua-index{
    background-image: url("../assets/pua_sin_base.png");
    background-size: 600%;
    background-position: -143px -130px;
    position: relative;
    
    z-index: 100;
    width: 62px;
    height: 130px;
    
  }
  
  
  
  @keyframes pua-animation{
    0%{
      transform: perspective(1000px) rotatex(10deg) rotatez(-40deg) translateX(-10px) translateY(-28x);
  
    }
    20%{
      transform: perspective(1000px) rotatex(40deg) rotatez(-40deg) translateX(-10px) translateY(-28px);
  
    }
   
   
    80%{
      
      
      transform: perspective(1000px) rotateX(40deg) rotatez(33deg) translateX(20px) translateY(10px);
  
    }
    
    100%{
      
      
      transform: perspective(1000px) rotateX(20deg) rotatez(33deg) translateX(20px) translateY(10px);
  
    }
  
  
  }
  
  .pua-animation{
    animation-delay: 3s;
    animation: pua-animation 8s ease-in both;
  }
  */
  
  
  
  
    /*COMPARTIR EN R.R.S.S.*/
  
    .compartir{
      position: sticky;
      top: 6px;
      z-index: 100;
       width: 80vw;
       height: 50px;
     
      
      color: var(--second-color);
      margin-bottom: 40px;
       margin-left: auto;
       margin-right: auto;
     padding-top: 1px;
     padding-bottom: 3px;
       text-align: center;
      
     }
     
     .compartir h4{
     margin-top: 2px;
  
     
      font-weight: 100;
      font-size: 16px;
     }
    .redes{
      position: relative;
    
      display: inline-block;
      
      width: auto;
      height: 20px;
      
      font-size: 14px;
      /*border: solid 1px rgb(99, 96, 96, 0.7);
     
      border-radius: 5px; */
      text-align: center;
      
      top: -15px;
      color: var(--first-color);
   
      text-decoration: none;
      font-weight: 100;
      
      transition: color 0.3s ease-in;
    }
    
    .redes:hover{
       color: red;
    }
  
  
  
  
  
      /*---------VERSIÓN TABLET / DESKTOP--------------*/
  
    @media screen and (min-width: 768px){
   
  .album-individual h3{
    font-size: 35px;
    width: 250px;
  }
  
  
  .compartir h4{
    font-size: 18px;
  }
  
  .redes{
    font-size: 13px;
  }
  
  
  .position-central{
      position: relative;
      width: 340px;
      height: 340px;
      left: 0%;
      top: -86px;
  }
  
  .inf2-position-central{
      position: absolute;
      width: 340px;
      height: 340px;
      top: 86px;
  }
  
    }
  
  
  
  
  
  
  /*--------versión DESKTOP-----------*/
  
  
  
  @media screen and (min-width: 1024px){
  
  
    .compartir{
  
      position: fixed;
      width: 100%;
      width: 180px;
    
    top: 5px;
    left: 10px;
    
      
    }
  
  }
  

    
  
        /*-----------GALERY---------*/
  
        .transp-foto{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          background-color: rgba(49, 77, 155, 0);
          z-index: 11;
        }
      
      .galery-container{
      
        width: 296px;
        height: auto;
       padding-top: 20px;
       padding-left: 18px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        overflow-x: hidden;
      overflow-y: hidden;
    
      
      }
      
        .galery{
          width: 250px;
          height: auto;
        
          display: flex;
         flex-direction: column;
          justify-content: space-around;
         /* transform: perspective(1000px) rotateY(30deg) rotateZ(-10deg);
         */
          filter: invert(1) sepia(0.8);
          transition: 1s;
          position: relative;
          top: -20px;
          z-index: 10;
          
        }
      
        
        .transp2-foto{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0%;
          
          background-color: rgba(49, 77, 155, 0);
          z-index: 5;
        }
      
        .galery-2{
          
          width: 250px;
          height: auto;
          margin-left: auto;
          margin-right: auto;
          top: 3000px;
       
          display: flex;
         flex-direction: column;
          justify-content: space-around;
         /* transform: perspective(1000px) translateX(-15px) rotateY(-60deg) rotatex(30deg) rotateZ(5deg);
          */
         filter: invert(1) sepia(0.8);
          transition: 1s;
          position: relative;
          z-index: 2;
      
        }
      
     
      
      .capa-agujeros{
        width: 260px;
        position: relative;
        
      
        
        height: 280px;
        background: repeating-linear-gradient(90deg, rgb(173, 229, 203) 0%, rgb(161, 218, 191) 5%, transparent 5%, transparent 12%, rgb(161, 218, 191) 12%, rgb(174, 232, 205) 21%);
      }
      
      
        .foto{
      
          position: relative;
        
          width: 100%;
          height: auto;
          background: repeating-linear-gradient(rgb(161, 218, 191) 0%, rgb(161, 218, 191) 5%, transparent 5%, transparent 11%, rgb(161, 218, 191) 11%, rgb(161, 218, 191) 25%); 
      
         
        
        }
      .foto .imagen{
        display: block;
        width: 190px;
        height: 280px;
        margin-left: 36px;
        
        position: relative;
        margin-top: -280px;
       background-color: rgb(161, 218, 191);
       border-bottom: solid rgb(156, 230, 196) 5px;
      }
      
      
      .normal-galery{
        width: 260px;
        height: auto;
        transition: 1s;
        transform: none;
        filter: none;
        position: relative;
        z-index: 100;
        left: -3px;
      margin-bottom: 280px;
      }
       
      .normal-galery .foto{
        border: solid rgb(132, 127, 127) 18px;
        border-radius: 8px;
        margin-bottom: 10px;
        margin-top: 40px;
        box-shadow: 4px 0 1rem 0.1rem rgb(40, 40, 40);
      
      }
      
      .normal-galery img{
        width: 100%;
        height: 100%;
        margin-left: auto;
      }
  
  
        /*-----------GALERY--------
  
    .transp-foto{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(49, 77, 155, 0);
      z-index: 11;
    }
  
  .galery-container{
  
    width: 296px;
    height: auto;
   padding-top: 20px;
   
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    overflow-x: hidden;
  overflow-y: hidden;
  
  }
  
    .galery{
      width: 100px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: flex;
     flex-direction: column;
      justify-content: space-around;
      transform: perspective(1000px) rotateY(30deg) rotateZ(-10deg);
      filter: invert(1) sepia(0.8);
      transition: 1s;
      position: relative;
      top: -20px;
      z-index: 10;
      
    }
  
    
    .transp2-foto{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0%;
      
      background-color: rgba(49, 77, 155, 0);
      z-index: 5;
    }
  
    .galery-2{
      
      width: 100px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: -300px;
      
      display: flex;
     flex-direction: column;
      justify-content: space-around;
      transform: perspective(1000px) translateX(-15px) rotateY(-60deg) rotatex(30deg) rotateZ(5deg);
      filter: invert(1) sepia(0.8);
      transition: 1s;
      position: relative;
      z-index: 2;
  
    }
  
  
  
  
  .capa-agujeros{
    width: 100px;
    position: relative;
    
  
    
    height: 100px;
    background: repeating-linear-gradient(90deg, rgb(84, 201, 148) 0%, rgb(84, 201, 148) 5%, transparent 5%, transparent 12%, rgb(84, 201, 148) 12%, rgb(84, 201, 148) 21%);
  }
  
  
    .foto{
  
      position: relative;
    
      width: 100%;
      height: 70%;
      background: repeating-linear-gradient(rgb(84, 201, 148) 0%, rgb(84, 201, 148) 5%, black 5%, rgb(0, 0, 0) 11%, rgb(84, 201, 148) 11%, rgb(84, 201, 148) 25%); 
  
     
    
    }
  .foto img{
    display: block;
    width: 68%;
    height: 96%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -100px;
  }
  
  
  .normal-galery{
    width: 260px;
    height: auto;
    transition: 1s;
    transform: none;
    filter: none;
    position: relative;
    z-index: 100;
    left: -3px;
  margin-bottom: 280px;
  }
   
  .normal-galery .foto{
    border: solid rgb(132, 127, 127) 18px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 40px;
    box-shadow: 4px 0 1rem 0.1rem rgb(40, 40, 40);
  
  }
  
  .normal-galery img{
    width: 100%;
    height: 100%;
    margin-left: auto;
  }
  */
  
  /*
       @media screen and (min-width: 768px){
  
  
          .text-bio-container{
              width: 450px;
             height: 450px;
             margin-left: auto;
             margin-right: auto;
          }
  
         .bio{
             width: 450px;
             height: 450px;
          
         }
  
      
  
       }
  
  
  
  
  
  
              /*AGENDA
  
  
       @keyframes scale{
         0%{
           transform: scale(0.7);
         }
         25%{
           transform: scale(1);
         }
         75%{
           transform: scale(1);
         }
         100%{
           transform: scale(0.7);
         }
       }
  
  
  
       .agenda{
         text-align: center;
         width: 300px;
         height: auto;
         margin-left: auto;
         margin-right: auto;
         
         position: relative;
       }
  
      
  
       .agenda img{
        
         width: 100%;
         height: 100%;
         border-radius: 20px;
         box-shadow: 0rem 0rem 0.5rem 0.5rem white;
         margin-top: 30px;
         
       }
  
  
       .entradas{
           margin-top: 50px;
           display: inline-block;
           width: 100px;
           height: 40px;
           font-size: 20px;
           background-color: black;
           color: red;
           text-decoration: none;
           padding-top: 7px;
           border: 1px solid rgb(128, 255, 255);
           border-radius: 10px;
           box-shadow: 0rem 0rem 0.5rem 0.2rem white;
           animation: scale 2s ease-in-out infinite;
       }
  */
      /* @media screen and (min-width: 768px){
         .agenda{
             width: 450px;
             
         }
  
       }
       
  
  
  
      TIENDA*/
   /*
  .tienda{
           margin-top: 150px;
           margin-bottom: 40vh;
         text-align: center;
       }
  
       .enlace-tienda{
         background-color: aquamarine;
         width: 150px;
         height: 50px;
         margin-left: auto;
         margin-right: auto;
         padding-top: 12.5px;
         border-radius: 1rem;
       }
  
       .enlace-tienda a{
         color: red;
         font-size: 25px;
         font-weight: bold;
         
         text-decoration: none;
       
       }
  
      
      
       @media screen and (min-width: 768px){
         
          .tienda{
              margin-top: 200px;
            text-align: center;
          }
        }
   */
  
  
  
  
  
  
  
  /*-----------DISC--------*/
  
  
  .disc-container-total{
  
    position: relative;
    width: 302px;
    height: 302px;
   top: -272px; /*lo coloca debajo del estuche del disco*/
   left: -50px;
  background-color: rgb(60, 98, 98, 0);
    
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /*NO OLVIDAR DE PONER*/
      transform: scale(0.6);
    z-index: 1;
  }
  
  
  .container-circle{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
    position: relative;
    
  
    
  }
  
  /*
  @keyframes Disc-Animation{
    0%{
     transform: perspective(1000px) rotateY(0deg) scale(0.5) translateX(0px) translateY(-80px);
     }
     14%{
     transform: perspective(1000px) rotateY(0deg) scale(0.55) translateX(0px) translateY(-670px);
   
     }
     35%{
      transform: perspective(1000px) rotateY(40deg) scale(0.6) translateX(-20px) translateY(-553px);
    
      }
    36%{
     
        transform: scale(0.63) perspective(1000px) rotateY(40deg) translateX(-50px) translateY(-550);
    }
    50%{
     
        transform: scale(0.63) perspective(1000px) rotateY(40deg) translateX(270px) translateY(-565px) rotateX(0deg);
    }
    80%{
     
        transform: scale(0.5) perspective(1000px) translateX(200px) translateY(-600px) rotatex(0deg) rotatez(0deg);
    }
    98%{
     
      transform: scale(0.7) perspective(1000px) translateX(65px) translateY(-1560px) rotatex(0deg);
  }
  
    100%{
     
      transform: scale(0.7) perspective(1000px) translateX(65px) translateY(-1530px) rotatex(0deg);
  }
  }
  */
  
  @keyframes Disc-Animation{
    0%{
     transform: perspective(1000px) rotateY(0deg) scale(0.5) translateX(0px);
     }
     14%{
     transform: perspective(1000px) rotateY(0deg) scale(0.55) translateX(0px);
   
     }
     35%{
      transform: perspective(1000px) rotateY(40deg) scale(0.6) translateX(-20px);
    
      }
    36%{
     
        transform: scale(0.63) perspective(1000px) rotateY(40deg) translateX(-50px);
    }
    50%{
     
        transform: scale(0.63) perspective(1000px) rotateY(40deg) translateX(270px);
    }
    80%{
     
        transform: scale(0.5) perspective(1000px) translateX(150px) translateY(320px) rotatez(0deg);
    }
    98%{
     
      transform: scale(0.9) perspective(1000px) translateX(38px) translateY(320px);
  }
  
    100%{
     
      transform: scale(0.9) perspective(1000px) translateX(38px) translateY(320px);
  }
  }
  
  .disc-animation{
    position: relative;
    z-index: 2;
    
  animation: Disc-Animation 10s ease-in-out both;
    
  
    animation-play-state: running;
  }
  
  
  
  
  @keyframes Disc-Rotation{
    0%{
     z-index: 10;
      
        transform: scale(0.7) perspective(1000px) translateX(65px) translateY(370px) rotateZ(0deg);
   
    
    }
    100%{
      z-index: 10;
      transform: scale(0.7) perspective(1000px) translateX(65px) translateY(370px) rotateZ(360deg);
   
   
    }
  }
  
  
  
  
  
  
  .disc-animation-reverse{
    
  animation-name: Disc-Animation;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
  }
  
  
  
 
  
  .disc-translate-insecta{
      color: rgb(30, 30, 31);
     width: 100%;
    margin-right: auto;
    margin-left: auto;
     height: 100%;
      border-radius: 50%;
     
    position: relative;
    z-index: 20;
    background-image: repeating-radial-gradient(rgb(18, 17, 17) 0% 1%, rgb(11, 11, 11) 2% 7%); 
       
    }
  
  
  .disc-translate-tach-felino{
    color: rgb(0, 0, 0);
   width: 100%;
  margin-right: auto;
  margin-left: auto;
   height: 100%;
    border-radius: 50%;
  
   /* background-image: repeating-radial-gradient(rgb(90, 90, 90) 0% 1%, rgb(236, 232, 232) 2% 7%); 
   */
   background-image: repeating-radial-gradient(rgb(18, 17, 17) 0% 1%, rgb(11, 11, 11) 2% 7%); 
  
    
  }

.agujero{
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  top: 130px;
  left: 130px;
  z-index: 10;
}

  
  .disc-translate-dias-lime{
      color: rgb(167, 176, 187);
     width: 100%;
    margin-right: auto;
    margin-left: auto;
     height: 100%;
      border-radius: 50%;
    
     /*común*/ background-image: repeating-radial-gradient(rgb(37, 37, 37) 0% 1%, rgb(11, 11, 11) 2% 7%); 
      background-image: repeating-radial-gradient(rgb(212, 110, 58) 0% 1%, rgb(214, 80, 59) 2% 5%, rgb(255, 34, 0) 9%); 
     
    }
  
  
  
  .disco-inclinado{
  
      width: 100%;
      height: 100%;
    position: relative;
       
  }
  

  @keyframes Irse{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(0);
    }
  }
  
  .video-container-total{

    width: 260px;
    height: 146.25px;
    background-color: aqua;
    
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    animation: Irse 10s linear forwards;
    animation-play-state: paused;
    
  }
  
  .video-container{
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    top: 0px;
    background-color: #d890e8;
  }
  
  .video-container>*{
    position: absolute;
    width: 100%;
    height: 100%;
  
  }

  .margin-video-el-arte-de-irse{
    margin-top: -700px;
  }
  
  @keyframes rotatex-50{
    0%{
      transform: perspective(1000px) rotateX(0deg);
    }
    100%{
      transform: perspective(1000px) rotateX(30deg);
    }
  }
  
  
  .rotatex-50{
  
    animation: rotatex-50 1s linear 8s both;
    
  }
  
  
  
  .etiquetas-todas{
    width: 100px;
    height: 100px;
  
    
  border-radius: 50%;
    position: absolute;
    top: 85.5px;
    left: 86px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 16px;

  }
  

  .etiqueta-hambre{
  /* si uso un gradiente o fondo para "crear" la tapa
    background: radial-gradient(closest-side, #000000 0%, black 10%, rgb(205, 87, 44) 11%, rgb(197, 53, 0) 100%);
 */

 /*si uso una imagen en background para etiqueta*/
 background-image: url("../assets/hambre.jpg");
 background-size: 100%;
  }



.etiqueta-dias-de-fuerza{

    /* si uso un gradiente o fondo para "crear" la tapa
      background: radial-gradient(closest-side, #000000 0%, black 10%, rgb(205, 87, 44) 11%, rgb(197, 53, 0) 100%);
   */
  
   /*si uso una imagen en background para etiqueta*/
  background-image: url("../assets/tapa_dias_de_fuerza.jpg");
  background-size: 100%;
}



.etiqueta-la-ultima-rotacion-del-sol{
    /* si uso un gradiente o fondo para "crear" la tapa
      background: radial-gradient(closest-side, #000000 0%, black 10%, rgb(205, 87, 44) 11%, rgb(197, 53, 0) 100%);
   */
  
   /*si uso una imagen en background para etiqueta*/
   background-image: url("../assets/tapa_la_ultima_rotacion_del_sol.jpg");
   background-size: 100%;
}




  .tapa-foto{
    top: 35%;
     text-align: center;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     position: absolute;
  
   }
   .tapa img{
     border-radius: 50%;
     width: 30%;
     height: 30%;
       }
   
  
  
  .titulo-album{
    position: absolute;
    display: block;
  
    width: 150px;
    text-align: center;
    top: -110px;
    left: 25%;
  color: var(--first-color);
  
  }
  /*
  
       @keyframes Visited-Disc{
        0%{
          transform: perspective(1000px) rotateY(0deg) scale(1) translateX(0px) translateY(0px);
      
        }
  
        10%{
          transform: perspective(1000px) rotateY(0deg) scale(1) translateX(0px) translateY(-350px);
      
        }
       
         30%{
         transform: perspective(1000px) rotateY(40deg) scale(0.67) translateX(-110px) translateY(-410px);
       
         }
         60%{
         transform: perspective(1000px) rotateY(40deg) scale(0.67) translateX(-110px) translateY(-410px);
       
         }
         80%{
          transform: perspective(1000px) rotateY(0deg) scale(1) translateX(0px) translateY(-350px);
      
         }
         100%{
          transform: perspective(1000px) rotateY(0deg) scale(1) translateX(0px) translateY(-350px);
      
         }
       }
  
  */
  
  
  @keyframes Visited-Disc{
    0%{
      transform: perspective(1000px) rotateY(0deg) scale(1) translateX(0px);
  
    }
  
    10%{
      transform: perspective(1000px) rotateY(0deg) scale(1) translateX(0px);
  
    }
   
     30%{
     transform: perspective(1000px) rotateY(40deg) scale(0.67) translateX(-110px);
   
     }
     60%{
     transform: perspective(1000px) rotateY(40deg) scale(0.67) translateX(-110px);
   
     }
     80%{
      transform: perspective(1000px) rotateY(0deg) scale(1) translateX(0px);
  
     }
     100%{
      transform: perspective(1000px) rotateY(0deg) scale(1) translateX(0px);
  
     }
   }
  
      
  
   
  
  
   
  .visited-disc-1{
    animation-name: Visited-Disc, Correr-Album-1;
    animation-delay: 0s, 11s;
    animation-duration: 14s, 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
       
   
    animation-play-state: running;
   }
  
  
   .visited-disc-2{
    animation-name: Visited-Disc, Correr-Album-2;
    animation-delay: 0s, 11s;
    animation-duration: 14s, 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
       
   
    animation-play-state: running;
   }
  
  
  
  
  
   .visited-disc-3{
    animation-name: Visited-Disc, Correr-Album-3;
    animation-delay: 0s, 11s;
    animation-duration: 14s, 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
       
    animation-play-state: running;
   }
  
  
  
  
  .opacity-0-3{
    opacity: 0.3;
  }
  
  
  
  
  
       .contact-card h5{
        font-size: 24px;
        font-weight: 100;
      }
      
      
      .email a{
        color: aqua;
        font-family: 'invernaculus', Courier, monospace;
        font-size: 18px;
        
      }
      
  
  
  
  /*--------FUNCIONALIDADES---------*/
  
  .boton-normal{
    
    background-color: rgb(197, 143, 43, 0);
    width: 270px;
    height: 270px;
    
    
    border: solid 3px rgb(0, 0, 0, 0);
   
  
  }
  
  
  .box-shadow{
  
     box-shadow: 5px 0 1rem 0.02rem rgb(41, 41, 41);
  
  }
  
  
  .running{
    
      animation-play-state: running;
    }
    
  
  
  
  /*--------------SECTIONS------------*/
    
  .video-en-las-sombras{
  
    width: 280px;
    height: 400px;
    margin-left: auto;
  margin-right: auto;
  }
  /*
  .music{
  
    width: 290px;
    height: 700px;
    margin-left: auto;
  margin-right: auto;
  
  
  }
  
  .music-activo{
    transition: 14s;
    height: 1200px;
  }
  */
  
  /*-------SECTION MUSIC---------*/
  
  .sections-container-total{
    margin-top: 0px;
    margin-bottom: 140px;
    
    padding-top: 0px;
    padding-bottom: 50px;
  width: 100%;
  height: auto;
  /*  background: linear-gradient(90deg, rgb(32, 49, 62)0%, rgb(32, 49, 62) 13%, rgb(85, 114, 142) 18%, rgb(85, 114, 142) 82%, rgb(32, 49, 62) 87%, rgb(32, 49, 62) 100%);
  
  
   
  box-shadow: 5px 0 3rem 2rem rgb(63, 117, 136); 
  */
  
  
  }
  

  /*---------------GALERY----------------------------*/
  
  .galeria{
    position: relative;
    top: -4400px;
    width: 290px;
    height: auto;
  margin-left: auto;
 margin-right: auto;

 z-index: -1;
  
  }
  
  /*
  @media screen and (min-width: 768px){
    
    .galeria{
      width: 290px;
      height: 550px;
      margin-left: auto;
      margin-top: 235px;
    
    margin-right: auto;
    
     }
      
     .galeria-grande1{
      height: auto;
     }
     .galeria-grande2{
      height: auto;
     }
   
  
    }
  */
  
  
  
  